{% extends "base.html.twig" %} {% block title %}Account deletion{% endblock %}
{% block body %} {% include "partials/flash.html.twig" %}

<h1>Delete my account</h1>

<p class="text-danger mb-4">
  Are you sure that you want to delete your account? <br />
  That action is destructive and your data can't be retrieved afterwards.
</p>

<p>Type your password to delete your account:</p>
{{ form_start(deleteForm) }}
{{ form_row(deleteForm.password) }}
{{ form_row(deleteForm.passwordConfirm) }}
<button type="submit" class="btn btn-danger">Delete my account</button>
{{ form_end(deleteForm) }}
{% endblock %}
