{% extends 'base.html.twig' %} {% block title %} {{ user.username }}'s profile
{% endblock %}{% block body %} {% include "partials/flash.html.twig" %}
<h1>{{ user.username }}'s profile</h1>
<div class="d-inline-block">
  <div class="alert alert-light d-flex gap-2 mt-4" role="alert">
    <p>Member since: {{ user.createdAt|date('M. Y') }}</p>
  </div>
</div>

<div>
  {% if user.threads and user.threads|length > 0 %}
  <h2>Threads posted:</h2>
  {% for thread in user.threads %} {% include
  "partials/thread-preview.html.twig" %} {% endfor %} {% else %}
  <h2>0 threads posted.</h2>
  {% endif %}
</div>
<div>
  {% if user.comments and user.comments|length > 0 %}
  <h2>Comments posted:</h2>
  {% for comment in user.comments %} {% include
  "partials/comment-card.html.twig" %} {% endfor %} {% else %}
  <h2>0 comments posted:</h2>
  {% endif %}
</div>
{% endblock %}
