{% extends 'base.html.twig' %} {% block title %} Delete thread {% endblock %}{%
block body %} {% include "partials/flash.html.twig" %}

<h1>Delete thread</h1>

<div class="mb-4">
  <p>Thread:</p>
  <p>{{ thread.title }}</p>
</div>

<p class="text-danger">
  Are you sure to delete this thread? It can't be recovered afterwards.
</p>

{{ form_start(form) }}
{{ form_row(form.confirmation) }}
<button type="submit" class="btn btn-danger btn-sm">Delete the thread</button>
{{ form_end(form) }}
{% endblock %}
