{% extends 'base.html.twig' %} {% block title %} Thread edit {% endblock %}{%
block body %} {% include "partials/flash.html.twig" %}

<h1>Edit thread</h1>

{{ form_start(form) }}
{{ form_rest(form) }}
<button type="submit" class="btn btn-success">Save</button>
{{ form_end(form) }}
{% endblock %}
