{% extends 'base.html.twig' %} {% block title %} My threads {% endblock %}{%
block body %} {% include "partials/flash.html.twig" %} {% if
app.user.threads|length > 0 %}

<div>
  <h1>My threads</h1>
  {% for thread in app.user.threads %} {% include
  "partials/thread-preview.html.twig" %} {% endfor %}
</div>
{% else %}
<h1>No threads posted yet</h1>
<a class="btn btn-primary" href="{{ path('threads.create') }}"
  >Create a thread</a
>
<a class="btn btn-secondary" href="{{ path('threads') }}">See threads</a>
{% endif %} {% endblock %}
