.page-container {
  padding: 1rem;
}

@media screen and (min-width: 640px) {
  .page-container {
    padding: 2rem;
    padding-top: 0rem;
  }
}

.align-center {
  display: flex;
  align-items: center;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0rem;
}

form,
.signup {
  margin: 2rem 0rem;
}

.no-hover-link {
  text-decoration: none;
}

.no-hover-link:hover {
  text-decoration: none;
}

#thread_content {
  min-height: 300px;
}

#comment_content {
  min-height: 150px;
  background-color: #f8f9fa;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
