{% extends 'base.html.twig' %} {% block title %} Remove solution from thread {%
endblock %}{% block body %} {% include "partials/flash.html.twig" %}

<h1>Remove solution</h1>

<p class="mb-2">
  Are you sure that you want to remove that comment fron being the solution for
  the thread?
</p>

<div class="bg-success text-white p-4">
  <p class="mb-2">
    from:
    <a class="no-hover-link text-white"
      href="{{ path("profile.public", {id:comment.user.id}) }}"
    >
      {{ comment.user.username }}
    </a>
  </p>
  <p>{{ comment.content }}</p>
</div>

<form action="#" method="POST">
  <fieldset class="mb-4">
    <legend>Select a choice</legend>
    <div class="form-check">
      <label class="form-check-label" for="yes">Yes remove it</label>
      <input
        class="form-check-input"
        type="radio"
        name="confirm"
        value="yes"
        id="yes"
      />
    </div>
    <div class="form-check">
      <label class="form-check-label" for="no">No do not remove it</label>
      <input
        checked
        class="form-check-input"
        type="radio"
        name="confirm"
        value="no"
        id="no"
      />
    </div>
  </fieldset>
  <button class="btn btn-sm btn-danger" type="submit">Confirm</button>
</form>

{% endblock body %}
