{% extends 'base.html.twig' %} {% block title %} Threads {% endblock %} {% block
body %} {% include "partials/flash.html.twig" %}

<h1>Threads page</h1>

{% for thread in threads %} {% include "partials/thread-preview.html.twig" %} {%
endfor %} {% endblock %}
